body {
    margin: 0 px;
    padding: 0 px;
}
.container {
    display: flex; /*內容水平排列*/
    width: 100%;
    height: auto;
    align-items: center; /*div文字水平置中*/
    justify-content: space-between; /*div文字垂直置中*/
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.title_font {
    width: 100%;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: auto; /* 根據內容調整寬度，非等比例 */
    /* table-layout: fixed; /* 每個儲存格的寬度固定，等比例分配 */
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* 確保文字不會溢出 */
}
